{% block content %}
{% load static %}
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>newboy-个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ericam_">

    <!-- CSS -->
    <link href="{%static 'css/font-awesome.min.css'%}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'css/images/南京工业大学小图标.png' %}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css'%}" media="screen" >
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
</head>

<body>
  <script src = "E:/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
  <!--导航栏-->
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav col-lg-6">
                    <li><a href="{%url 'blog:home'%}">首页</a></li>
                    <li class="active"><a href="{%url 'blog:tags'%}">标签</a></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li><img src="{%static avatar%}" width="60" ></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{nickname}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{%url 'blog:userinfo'%}">个人中心</a></li>
                            <li class="divider"></li>
                            <li><a href="{%url 'logout'%}">注销</a></li>
                        </ul>
                    </li>
                </ul>
                                <!--搜索栏-->
                <form class="navbar-form navbar-right" method="POST" action="{%url 'blog:search'%}"> <!--navbar-form:控制搜索表单与其他元素水平-->
                    <div class="form-group">
                        <input type="text" name="info" class="form-control" placeholder="关键字">
                    </div>
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div  style="padding:50px 0px 0px 200px;background-color: #00CACA;margin: 40px;" >
        <div>
            <div class="clr"></div>
            <div><h1><a><img src="{%static 'css/images/ED.png'%}"></a></h1></div>
            <div class="clr"></div>
        </div>
    </div>
    <!-- container -->
    <div class="container blog" style="min-height: 65%">
        <div class="row">
            <!-- Article main content -->
            <article class="col-sm-8 maincontent">
                <header class="page-header">
                    <h1 class="page-title" color="">EasyDown-标签云<img src="{%static 'css/images/dlam.png'%}" width="8%"></h1>
                </header>
                {%for tag in tag_list%}
                <p><a class="btn btn-default" href="{%url 'blog:tags_detail' id=tag.id%}">{{tag.name}}</a></p>
                {%endfor%}
                 {% if tag_list.object_list and tag_list.paginator.num_pages > 1 %}
                    <div>
            {% if tag_list.has_previous %}
              <ul class="pager">
                <li class="previous"><a href="?page={{ tag_list.previous_page_number }}"><span aria-hidden="true">&larr;</span> Older</a></li>
            </ul>
            {% endif %}
            {% if tag_list.has_next %}
              <ul class="pager">
                <li class="next"><a  href="?page={{ tag_list.next_page_number }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
            {% endif %}
                    </div>
    {% endif %}
            </article>
            <!-- /Article -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">
                <div class="widget" style="padding-top: 100px" style="background-color: #7AFEC6">
                    
                </div>
            </aside>
            <!-- /Sidebar -->

        </div>
    </div>  <!-- /container -->




   <footer id="footer" class="top-space">
        <div class="footer2">
            <div class="container">
                <p class="text-center">Copyright &copy; 2020, newboy-blog</p>
            </div>
        </div>
  </footer>
</body>
</html>
{% endblock %}
