<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
       
       
       var a=['lb','df','bjy','xr']; 
       
       for(i in a)
       {function button_onclick()
       {   var c=i;
           alert("你要购买"+a[c]);
           
       } 
        document.write("<li>"+a[i] );
        document.write("<input type=\"button\" value=\"购买\"  onclick=\"return button_onclick()\"");
        } 
  
  
       

      
      
        
    </script>
    
</body>
</html>